/Dockerfile
/node_modules
/visualiser/logs_and_events/*.txt
/visualiser/script.txt
/testing_framework/distributed/generator/files/*
/testing_framework/distributed/generator/events/*
/testing_framework/distributed/generator/simulations/*
/testing_framework/distributed/generator/event/*
/testing_framework/distributed/generator/info.json
/simulations/*

