<!-- interface/views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>VAST.js Testing Framework</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Welcome to the VAST.js Testing Framework</h1>
  <div class="information">
  <p>This application allows you to test VAST.js by running various experiments. You have three options to choose from:</p>
  <ol>
    <li>Run an experiment on a single host using the simulator</li>
    <li>Run an experiment on a single host without using the simulator</li>
    <li>Run an experiment on multiple hosts</li>
  </ol>
  <div class="options">
    <a href="/option1" class="btn">Option 1</a>
    <a href="/option2" class="btn">Option 2</a>
    <a href="/option3" class="btn">Option 3</a>
  </div>
</div>
</body>
</html>
